@inherits LayoutComponentBase
@layout MyLayout
<header>
    <h1>NestedLayout</h1>
</header>

<nav>
    <a href="fetchdata">Home</a>
    <a href="error-handling">Counter</a>
    <a href="rasied-error-razor">Fetch data</a>
</nav>
@Body
<footer>
    It is NestedLayout.razor
</footer>
