@page "/interaction/parent-projection"
<h3>MultipleParent</h3>
<MultipleChild>
    <HeaderContent>짜잔</HeaderContent>
    <BodyContent>!몸통!</BodyContent>
    <FooterContent>끝</FooterContent>
    <ChoContent>111111</ChoContent>
</MultipleChild>

@code { 
}