@page "/interaction/content-projection"
<h3>Parent</h3>
<SingleChild>
    <span> 내 마음대로 가능해</span>
</SingleChild>

<SingleChild>
    <span class="text-danger"> 이건 다른걸 해야지</span>
</SingleChild>

@code { 
}